%p
	Dear #{@receiver.name},
%p
	You’ve been recognized for your kindness and positivity!
	%br/
%p
	- if @tribute.trees > 0
		Thanks to your generosity, #{@tribute.created_by} has written you a letter of appreciation and made a donation to plant a tree in your honor.
	- else
		Thanks to the good impact you have on the world, #{@tribute.created_by} has written a public letter of appreciation.
	To see their note, click 
	= succeed '.' do
		= link_to 'here', receiver_url(@receiver)
%br
%p
	Thank you for spreading goodness in the world!
	%br
	\- Kyle & Samantha
%br
%p.callout
	If you are interested in learning more or have someone in mind you would like to recognize for their generosity, please check out our website.
