.container
  %h1.white Donation receivers
  - @receivers.in_groups_of(3) do |receiver_group|
    .row
      - receiver_group.each do |receiver|
        - if receiver.present?
          .col-sm-4
            .receiver-container
              %h3.f300= link_to receiver.name, admin_receiver_path(receiver)
              %p
                = receiver.tributes.count
                tributes with donations totaling
                %span.darker-green= receiver.trees.to_s.prepend("$")
              %p.small.muted= 'Created on ' + receiver.created_at.to_s
              %hr
              = link_to 'Delete', receiver, method: :delete, class: 'btn btn-danger'