!!!
%html
  %head
    %title RootsOfGoodness
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://js.stripe.com/v2/'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}
  %body.tribute-creation.brown-gradient
    .container
      %nav.navbar.navbar-static-top.navbar-custom.navbar-static-custom
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Roots of Goodness', home_path, class: 'navbar-brand f500'
          #navbar.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{ class: "#{'active' if @active_link=='home'}" }= link_to 'Home', home_path
              %li{ class: "#{'active' if @active_link=='about'}" }= link_to 'About', about_path
              %li{ class: "#{'active' if @active_link=='tributes'}" }= link_to 'Trees', receivers_path
    %div{style: 'margin-top:50px;'}= render 'layouts/flash_messages'
    = yield
