!!!
%html
  %head
    %title RootsOfGoodness
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'https://js.stripe.com/v2/'
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}
  %body.tribute-creation.brown-gradient
    %nav.navbar.navbar-fixed-top
      .container
        #navbar.pull-right
          %ul.nav.navbar-nav
            %li= link_to 'Home', home_path, class: 'white'
    = render 'layouts/flash_messages'
    = yield
